:root{
    --light-color :#E3E7E8;
    --orange :#e05d2d;
    font-size: 62.5%;
    box-sizing: content-box;
    scroll-behavior: smooth;

}
html{
    font-family: 'Quicksand', sans-serif;
    color: var(--light-color);
    perspective: 10px;
}
p{
    font-size: 2rem;
}
a{
    color: var(--light-color);
    text-decoration: none;
    transition: all .3s ease;

}
a:hover, .icons:hover{
    color: var(--orange);
    transition: all .3s ease;
}
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    z-index: -1;

}

.bg {
    max-width: 100%;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    z-index: -2;
    /* box-shadow: inset 0px -48px 34px 0px #000000; */
}
nav{
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top:0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
nav ul li {
    margin: 10px;
    font-size: 2rem;
}

header {
    
    max-width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    transform-style: preserve-3d;
}
h1{
    font-size: 8rem;
    font-weight: 500;
}
h2{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 3rem;
}
header p {
    margin-top: 0;
    font-size: 2rem;
    line-height: 3rem;
    width: 80%;
    margin: 4rem auto;
}
span {
    font-weight: 800;
}
.underline {
    background-color: var(--light-color);
    height: .1rem;
    width: 60%;
    margin: 0 auto;
    opacity: .5;
}

.icons{
    margin: 2rem;
    padding: 2rem;
    width: 4rem;
}
.line {
    position: absolute;
    top: 3rem;
    left: 50vw;
    height: 800vh;
    background-color: var(--orange);
    width: 1rem;
    border-radius: 50px;
    opacity: 1;
    margin-left: 2rem;
}

.intersection {
    background-image: linear-gradient(to top, #000000, #000000, #000000, #000000b6,rgba(255, 255, 255, 0));
    height: 5rem;
    width: 100%;
    position: absolute;
    /* border: 3px solid red; */
    z-index: 1;
    top: 95vh;
}
.intersection-to-footer {
    background-image: linear-gradient(to bottom, #000000, #000000, #000000b6, #0000009a,rgba(255, 255, 255, 0));
    height: 10rem;
    width: 100%;
    z-index: 1;

}

/* about me */
#about {
    position: relative;
    height: 100vh;
    background-color: #000000;

}
.skills h2 {
    cursor: pointer;
}

.skills h2:hover {
    color: var(--orange);
    transition: all .3s ease;
    position: relative;
}
.skills h2:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--orange);
    width: 0;
    transition: all .3s ease;
}
.skills h2:hover:after{
    transition: all .3s ease;
    width: 100%;
}
.skills  {
    margin-left: 7rem;
    width: fit-content;
}
.soft-skills{
    margin-top: 10rem;
}
.soft-skills p {
    width: fit-content;
}
.bar {
    background-color: var(--orange);
    width: .5rem;
    height: 2rem;
    border-radius: 36px 42px 10px 32px / 10px 39px 53px 17px;
    opacity: 1;
}
.barHTML {
    width: 40rem;
    background-color: aqua;
    transition: all .2s .5s ease;
    opacity: 1;
}
.barCSS {
    width: 30rem;
    background-color: rgb(130, 195, 111);
    transition: all .2s .6s ease;
    opacity: 1;
}
.barJavaScript {
    width: 20rem;
    background-color: rgb(213, 145, 213);
    transition: all .2s .7s ease;
    opacity: 1;
}
.barNodejs {
    width: 10rem;
    background-color: rgb(132, 81, 204);
    transition: all .2s .8s ease;
    opacity: 1;

}
.barVSCode{
    width: 30rem;
    background-color: rgb(204, 81, 112);
    transition: all .2s .9s ease;
    opacity: 1;

}

.barshow {

    opacity: 1;
    transition: all .2s 1s ease;
}

.portrait {
    /* border-radius: 100%; */
    max-height: 100vh;
    /* margin: 0 3rem auto; */
    position: absolute;
    right: 0;
    top: 0;
    border-left: 3px double var(--orange);
}
.whoami-section h1{
    padding: 2rem;
    font-size: 3rem;
    border: 3px double var(--orange);
    max-width: fit-content;
    border-radius: 36px 42px 10px 32px / 10px 39px 53px 17px;
}
#about main {
    /* padding: 10rem; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 3rem 0;
    margin: 0 3rem;
}
.whoami-section{
    margin-left: 5rem;
    padding-top: 6rem;
}

.whoami-section h1{
    margin-bottom: 3rem;


}
.martin {
    width: 100%;
    opacity: 1;

}

.footer {
    background-image: url(../images/felix.jpg);
        box-shadow: inset 0px 48px 34px 0px #000000;
        height: 80vh;
        width: 100vw;
        background-size: cover;
        overflow: hidden;

}

#resume {
    background-color: #000000;
}
